{% extends 'base.html.twig' %}

{% block title %}My form page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="button">Submit</button>
    {{ form_end(form) }}

{% endblock %}