{% extends 'base.html.twig' %}

{% block title %}My twig page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        /*p {*/
            /*color: red;*/
        /*}*/
    </style>
{% endblock %}

{% block body %}

    <h1><b>Список страниц сайта!</b></h1>

    <p>Температура окружающего воздуха {{ temp }}</p>

    {% if temp == 31 %}
        Success!
    {% else %}
        Warning!
    {% endif %}

    {#Проверка на пустоту#}
    {#{% if pages %}#}
        {#{{ pages.0.title }}#}
    {#{% endif %}#}

    {{ pages.0.title | default('nothing')}}

    {% for page in pages %}
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
        <hr>
    {% endfor %}

    {% include('test/part.html.twig') %}

{% endblock %}